.btn {
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .btn-submit {
    background-color: #D9728E;
    border-color: #D9728E;
    color: #fff;
  }
  
  .btn-submit:hover {
    background-color: #DF8BA2;
    border-color: #DF8BA2;
    color: #fff;
  }